<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>starLevel0</key>
	<string>3906</string>
	<key>starLevel1</key>
	<string>5208</string>
	<key>starLevel2</key>
	<string>6510</string>
	<key>userHP</key>
	<string>3</string>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>6</string>
			<key>maxShowNumber</key>
			<string>3</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>4</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>5</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>6</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>7</string>
					<key>count</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>8</string>
			<key>maxShowNumber</key>
			<string>3</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>4</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>5</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>6</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>7</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>8</string>
					<key>count</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>8</string>
			<key>maxShowNumber</key>
			<string>3</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>4</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>5</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>6</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>7</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>9</string>
					<key>count</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>9</string>
			<key>maxShowNumber</key>
			<string>3</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>4</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>5</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>6</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>7</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>9</string>
					<key>count</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>11</string>
			<key>maxShowNumber</key>
			<string>3</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>4</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>5</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>6</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>7</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>8</string>
					<key>count</key>
					<string>1</string>
				</dict>
				<dict>
					<key>type</key>
					<string>9</string>
					<key>count</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
