<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>starLevel0</key>
	<string>714</string>
	<key>starLevel1</key>
	<string>952</string>
	<key>starLevel2</key>
	<string>1190</string>
	<key>userHP</key>
	<string>5</string>
	<key>waves</key>
	<array>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>2</string>
			<key>maxShowNumber</key>
			<string>2</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>2</string>
					<key>count</key>
					<string>2</string>
				</dict>
				<dict>
					<key>type</key>
					<string>3</string>
					<key>count</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>3</string>
			<key>maxShowNumber</key>
			<string>2</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>2</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>3</string>
					<key>count</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>5</string>
			<key>maxShowNumber</key>
			<string>2</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>0</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>2</string>
					<key>count</key>
					<string>5</string>
				</dict>
				<dict>
					<key>type</key>
					<string>3</string>
					<key>count</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>7</string>
			<key>maxShowNumber</key>
			<string>2</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>2</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>3</string>
					<key>count</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>difficultyFactor</key>
			<string>100</string>
			<key>wrongShowNumber</key>
			<string>7</string>
			<key>maxShowNumber</key>
			<string>2</string>
			<key>assignments</key>
			<array>
				<dict>
					<key>type</key>
					<string>2</string>
					<key>count</key>
					<string>10</string>
				</dict>
				<dict>
					<key>type</key>
					<string>3</string>
					<key>count</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>holes</key>
	<array>
		<string>{228/2.0, 476.0/2.0}</string>
		<string>{630/2.0, 468.0/2.0}</string>
		<string>{90/2.0, 372.0/2.0}</string>
		<string>{438/2.0, 372.0/2.0}</string>
		<string>{776/2.0, 372.0/2.0}</string>
		<string>{296/2.0, 264/2.0}</string>
		<string>{606/2.0, 264/2.0}</string>
		<string>{190/2.0, 124/2.0}</string>
		<string>{790/2.0, 118.0/2.0}</string>
	</array>
</dict>
</plist>
