<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>近战小兵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>0</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>2</string>
		<key>coin</key>
		<string>10</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>85</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>远程小兵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>1</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>1</string>
		<key>coin</key>
		<string>10</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>93</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>幽灵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>2</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>1</string>
		<key>coin</key>
		<string>15</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>94</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>狼</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>3</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>2</string>
		<key>coin</key>
		<string>20</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>88</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>炮车</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>4</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>3</string>
		<key>coin</key>
		<string>30</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>85</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>石头</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>5</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>40</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>80</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>蜥蜴</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>6</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>50</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>82</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>超级兵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>7</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>60</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>84</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>小龙</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>8</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>5</string>
		<key>coin</key>
		<string>80</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>80</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>小龙</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>9</string>
		<key>showTime</key>
		<string></string>
		<key>hp</key>
		<string>6</string>
		<key>coin</key>
		<string>100</string>
		<key>penalty</key>
		<string>1</string>
		<key>teamType</key>
		<string>0</string>
		<key>speed</key>
		<string>82</string>
	</dict>
</array>
</plist>
