<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>近战小兵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>0</string>
		<key>showTime</key>
		<string>2</string>
		<key>hp</key>
		<string>2</string>
		<key>coin</key>
		<string>20</string>
		<key>penalty</key>
		<string>5</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>远程小兵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>1</string>
		<key>showTime</key>
		<string>1</string>
		<key>hp</key>
		<string>1</string>
		<key>coin</key>
		<string>10</string>
		<key>penalty</key>
		<string>10</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炮车</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>2</string>
		<key>showTime</key>
		<string>3</string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>40</string>
		<key>penalty</key>
		<string>20</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>石头人</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>3</string>
		<key>showTime</key>
		<string>3</string>
		<key>hp</key>
		<string>6</string>
		<key>coin</key>
		<string>60</string>
		<key>penalty</key>
		<string>40</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狼</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>4</string>
		<key>showTime</key>
		<string>2</string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>50</string>
		<key>penalty</key>
		<string>30</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>幽灵</string>
		<key>imageName</key>
		<string></string>
		<key>type</key>
		<string>5</string>
		<key>showTime</key>
		<string>2</string>
		<key>hp</key>
		<string>4</string>
		<key>coin</key>
		<string>45</string>
		<key>penalty</key>
		<string>25</string>
		<key>teamType</key>
		<string>0</string>
	</dict>
</array>
</plist>
