<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bm_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{1136,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,123}}</string>
                <key>sourceSize</key>
                <string>{1136,123}</string>
            </dict>
            <key>bm_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{1136,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,95}}</string>
                <key>sourceSize</key>
                <string>{1136,95}</string>
            </dict>
            <key>bm_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{1136,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,111}}</string>
                <key>sourceSize</key>
                <string>{1136,111}</string>
            </dict>
            <key>bm_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{1136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,145}}</string>
                <key>sourceSize</key>
                <string>{1136,145}</string>
            </dict>
            <key>bm_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,166}}</string>
                <key>sourceSize</key>
                <string>{1136,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bm_bg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5da5ac9d83cd9e2594ccde5f1fd8e169$</string>
            <key>textureFileName</key>
            <string>bm_bg.png</string>
        </dict>
    </dict>
</plist>
