<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>land-568h.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{1136,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1136,640}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>land.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lands.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52ba4d73a91568ab7c1e57dac8815319$</string>
		<key>textureFileName</key>
		<string>lands.png</string>
	</dict>
</dict>
</plist>
